@model WebApp.Models.Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    var msg = ViewData["msg"];
}
<div class="container-fluid mh-100 d-flex align-items-center justify-content-center">
    <div class="w-25 justify-content-center bg-light rounded">
        <div class="m-5">
            <form asp-action="Login" method="post">
                <h1>Login</h1>
                <div>
                    <label for="Email">Email</label>
                    <input class="form-control" asp-for="Email" type="text" placeholder="Enter email">
                    <span asp-validation-for="Email" style="color:red"></span>
                    <br />
                    <label for="psw">Password</label>
                    <input class="form-control" asp-for="Password" type="password" placeholder="Enter Password">
                    <span asp-validation-for="Password" style="color:red"></span>

                    @if (msg != null)
                    {
                        <p style="color:red;">@msg</p>
                    }

                    <div class="mt-5 text-center form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>