@{
	Layout = "_AdminLayout";
	ViewData["Title"] = "Admin Page";
}
<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
	<h1>Welcome To Admin Page!</h1>
</div>
@*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul class="navbar-nav flex-grow-1">
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ListMember">List Member</a>
		</li>
	</ul>
</div>*@

